body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin: 0.1rem 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

hr {
  width: 100%;
}

html,
body,
#root,
#root > div {
  height: 100vh;
  width: 100%;
}
